:root {
  --accent-color: #f43f5e; /* Tailwind rose-500 */
  --font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: #ffffff;
  color: #111111;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  margin: 0;
  line-height: 1.2;
}
